In [1]:
# 1번
import numpy as np
np.random.seed(1234)

x = np.random.normal(170., 5.0, size=1000)    

MAX_X = x[0]
for i in range(1, len(x)):
    if MAX_X < x[i]:
        MAX_X = x[i]
MAX_X





# 2번
import numpy as np
np.random.seed(1234)

def piEstimate (n):
    
    SUM = 0
    x = np.random.uniform(low=0.0, high=1.0, size=n)
    y= np.random.uniform(low=0.0, high=1.0, size=n)
        
    for i in range(n) : 
        if ((x[i]*x[i] + y[i]*y[i])**0.5) <= 1 : 
            SUM = SUM + 1
    
    ESIMATE_PI = 4 * (SUM / n)
    
    print("Estimate of pi = {:.3f} after {} iterations" .format(ESIMATE_PI, n))
    
    return None

piEstimate(10000)





# 3번
import pandas as pd
data = pd.read_csv('./MLBattend.csv',sep=',',na_values=".")
data.groupby("league")["attendance", "runs.scored", "runs.allowed"].mean()
data.groupby("league")["attendance", "runs.scored", "runs.allowed"].corr()






# 4 번
import numpy as np
X = np.array(data[['attendance', 'runs.scored', 'runs.allowed']])
n, k  = X.shape         # n: number of observations, k: number of variables

S = (1/n-1) * np.dot(np.dot(np.transpose(X),(np.eye(n) - (1/n)*np.ones(n))),X)
S

Estimate of pi = 3.127 after 10000 iterations

array([[-4.77644023e+14, -3.28608454e+10, -6.33284797e+09],
       [-3.28608454e+10, -9.24741673e+06, -5.25907133e+06],
       [-6.33284797e+09, -5.25907133e+06, -9.30920101e+06]])

In [2]:
# 1번
import numpy as np
np.random.seed(1234)

x = np.random.normal(170., 5.0, size=1000)    

MAX_X = x[0]
for i in range(1, len(x)):
    if MAX_X < x[i]:
        MAX_X = x[i]
MAX_X

183.81922039924783

In [3]:
# 2번
import numpy as np
np.random.seed(1234)

def piEstimate (n):
    
    SUM = 0
    x = np.random.uniform(low=0.0, high=1.0, size=n)
    y= np.random.uniform(low=0.0, high=1.0, size=n)
        
    for i in range(n) : 
        if ((x[i]*x[i] + y[i]*y[i])**0.5) <= 1 : 
            SUM = SUM + 1
    
    ESIMATE_PI = 4 * (SUM / n)
    
    print("Estimate of pi = {:.3f} after {} iterations" .format(ESIMATE_PI, n))
    
    return None

piEstimate(10000)

Estimate of pi = 3.127 after 10000 iterations

In [4]:
# 3번
import pandas as pd
data = pd.read_csv('./MLBattend.csv',sep=',',na_values=".")
data.groupby("league")["attendance", "runs.scored", "runs.allowed"].mean()

          attendance  runs.scored  runs.allowed
league
AL      1.716321e+06   713.293981    713.490741
NL      1.843617e+06   675.411330    675.100985

In [5]:
data.groupby("league")["attendance", "runs.scored", "runs.allowed"].corr()

                     attendance  runs.scored  runs.allowed
league
AL     attendance      1.000000     0.554555      0.168597
       runs.scored     0.554555     1.000000      0.561632
       runs.allowed    0.168597     0.561632      1.000000
NL     attendance      1.000000     0.482578      0.051004
       runs.scored     0.482578     1.000000      0.540466
       runs.allowed    0.051004     0.540466      1.000000

In [7]:
 # 4 번
import numpy as np
X = np.array(data[['attendance', 'runs.scored', 'runs.allowed']])
n, k  = X.shape         # n: number of observations, k: number of variables

S = (1/n-1) * np.dot(np.dot(np.transpose(X),(np.eye(n) - (1/n)*np.ones(n))),X)
S

array([[-4.77644023e+14, -3.28608454e+10, -6.33284797e+09],
       [-3.28608454e+10, -9.24741673e+06, -5.25907133e+06],
       [-6.33284797e+09, -5.25907133e+06, -9.30920101e+06]])